[![GitHub Actions CI/CD build status — Collection test suite](https://github.com/{{ gh_org }}/{{ coll_ns }}.{{ coll_name }}/workflows/Collection%20test%20suite/badge.svg?branch=master)](https://github.com/{{ gh_org }}/{{ coll_ns }}.{{ coll_name }}/actions?query=workflow%3A%22Collection%20test%20suite%22)

Ansible Collection: {{ coll_ns }}.{{ coll_name }}
=================================================
